<div>
  <h2>Ricerca per regista</h2>
  <div>
    <input type="text" [(ngModel)]="registaNome" placeholder="Nome Regista">
    <input type="text" [(ngModel)]="registaCognome" placeholder="Cognome Regista">
    <button (click)="getFilmsByRegista()">Cerca</button>
  </div>
  <h2>Ricerca per attore</h2>
  <div>
    <input type="text" [(ngModel)]="attoreNome" placeholder="Nome Attore">
    <input type="text" [(ngModel)]="attoreCognome" placeholder="Cognome Attore">
    <button (click)="getFilmsByAttore()">Cerca</button>
  </div>
  <h2>Elenco film</h2>
  <ol>
    <li *ngFor="let film of films">
      {{ film.titolo }}
    </li>
  </ol>
</div>

<div>
  <h2>Massimo Sale Number</h2>
  <form (ngSubmit)="getMaxSaleNum(cittaInput.value)">
    <div class="form-group">
      <label for="cittaInput">City:</label>
      <input type="text" id="cittaInput" class="form-control" #cittaInput required>
    </div>
    <button type="submit" class="btn btn-primary">Launch</button>
  </form>

  <div *ngIf="maxSaleNum">
    <p>Numero massimo di Sale: {{ maxSaleNum }}</p>
  </div>
</div>

<div>
    <h1>Film e Spettatori</h1>
    <form (ngSubmit)="getFilmAndTotalSpettatoriByData(dataInput.value)">
      <div class="form-group">
        <label for="dataInput">Data</label>
        <input type="date" id="dataInput" class="form-control" #dataInput required>
      </div>
      <button type="submit" class="btn btn-primary">Cerca</button>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titolo</th>
          <th>Numero Spettatori</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filmSpettatoriItem of filmSpettatori">
          <td>{{ filmSpettatoriItem[0] }}</td>
          <td>{{ filmSpettatoriItem[1] }}</td>
        </tr>
      </tbody>
    </table>
</div>
